.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    max-height: 60vh; 
    height: 60vh;
   }
  
  .product-image {
    max-width: 100%;
    height: auto;
    max-height: 30vh;
    height: 30vh;
  }
  
  .product-title {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-price {
    color: #888;
    font-size: 1rem;
  }
*{
    text-decoration: none;
  }